%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{require_otp_vsn, "R14|R15"}.

{deps, [

     %% logging
    {lager, ".*", {git, "git://github.com/basho/lager.git",
                  {branch, "master"}}},

    %% DNSSD lib
    {dnssd, ".*", {git, "git://github.com/refuge/dnssd_erlang.git",
            {branch, "master"}}},

    {gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}}

]}.
